body {
  margin: 0;
}

.to-do-container {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  background-color: grey;
  height: 40px;
  border-bottom: 1px solid black;
  align-items: center;
}

.add-new-task {
  margin-left: 50%;
}